<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Dienstleistungsvertrag (mit juristischer Person)</title>
        <style>{{ style | safe }}</style>
    </head>
    <body>
        <!--
            Titelblatt
        -->
        <p class="title center margin-none"><b>Dienstleistungsvertrag</b></p>
        <p class="subtitle center margin-double"><b>(mit juristischer Person)</b></p>
        <div class="container">
            <p class="subtitle"><b>im Rahmen</b></p>
            <p><b>
                {% if data.type == 1 %}☑{% else %}☐{% endif %} von Neigungskursen/Unterrichtsergänzenden Angeboten
            </b></p>
            <p><b>
                {% if data.type == 2 %}☑{% else %}☐{% endif %} von Projekten und Veranstaltungen
            </b></p>
            <p><b>
                {% if data.type == 3 %}☑{% else %}☐{% endif %} der Einbindung von Experten als Zweitkraft im Unterricht
            </b></p>
            <p><b>
                {% if data.type == 4 %}☑{% else %}☐{% endif %} der Organisation von Teamprozessen/Coaching
            </b></p>
            <p><b>
                {% if data.type == 5 %}☑{% else %}☐{% endif %} vom Landesprogramm „Löwenstark der BildungsKICK“
            </b></p>
            <p><b>
                {% if data.type is string %}☑ Sonstiges:</b> {{ data.type }}{% else %}☐ Sonstiges:{% endif %}
            </b></p>
        </div>
        <p class="center margin-double">Zwischen</p>
        <p class="center margin-none"><b>dem Land Hessen,</b></p>
        <p class="center margin-none"><b>vertreten durch die Schulleiterin/den Schulleiter, Frau/Herrn</b> {{ data.school.principal }}</p>
        <p class="center margin-double"><b>der/des</b> {{ data.school.name }} <b>in</b> {{ data.school.zipcode }} {{ data.school.city }}</p>
        <p class="margin-double">- im Folgenden: Auftraggeber -</p>
        <p class="center">und</p>
        <div class="container">
            <p><b>Name der juristischen Person: </b>{{ data.provider.name }}</p><br>
            <p><b>Straße: </b>{{ data.provider.address.street }}</p><br>
            <p><b>PLZ/Ort: </b>{{ data.provider.address.zipcode }} {{ data.provider.address.city }}</p><br>
            <p><b>Steuer-Nr.: </b>{{ data.provider.tax_number }}</p><br>
            <p><b>Zuständiges Finanzamt (PLZ/Ort): </b>{{ data.provider.tax_office.zipcode }}, {{ data.provider.tax_office.city }}</p><br>
            <p><b>vertreten durch Herrn/Frau: </b>{{ data.provider.contact.name }}</p><br>
            <p><b>Straße: </b>{{ data.provider.contact.address.street }}</p><br>
            <p><b>PLZ/Ort: </b>{{ data.provider.contact.address.zipcode }} {{ data.provider.contact.address.city }}</p><br>
        </div>
        <p class="margin-double">- im Folgenden: Auftragnehmerin/Auftragnehmer -</p>
        <p class="margin-double">wird der folgende Dienstleistungsvertrag geschlossen:</p><br>
        <!--
            § 1 Gegenstand des Vertrages
        -->
        <p class="center paragraph"><b>§ 1 Gegenstand des Vertrages</b></p>
        <p>Der Auftraggeber beauftragt die Auftragnehmerin/den Auftragnehmer mit der Ausführung folgender Leistung (Art, Umfang):</p>
        <p><b><i>{{ data.scope.description }}</i></b></p>
        <!--
            § 2 Leistungszeitraum
        -->
        <p class="center paragraph"><b>§ 2 Leistungszeitraum</b></p>
        <p>Die Auftragnehmerin/der Auftragnehmer erbringt die unter § 1 genannte Leistung in der Zeit vom <b>{{ data.date.start }}</b> bis <b>{{ data.date.end }}</b> zu folgenden Uhrzeiten: <b>{{ data.time.start }}</b> Uhr bis <b>{{ data.time.end }}</b> Uhr</p>
        <!-- <p><b>
            {% if data.date.holidays %}☑{% else %}☐{% endif %}
            Die Leistung wird nicht während der Schulferien erbracht und geschuldet.
        </b></p> -->
        <!--
            § 3 Rechte und Plfichten der Auftragnehmerin/des Auftragnehmers
        -->
        <p class="center paragraph"><b>§ 3 Rechte und Pflichten der Auftragnehmerin/des Auftragnehmers</b></p>
        <ol>
            <li><p>Die Auftragnehmerin/der Auftragnehmer erbringt die Leistung durch Erfüllungsgehilfinnen/Erfüllungsgehilfen (z. B. durch Mitarbeiterinnen/Mitarbeiter oder Vereinsmitglieder). § 616 BGB findet keine Anwendung.</p></li>
            <li><p>Die Auftragnehmerin/der Auftragnehmer erbringt die Leistung in eigener Verantwortung. Dabei hat sie/er zugleich auch die Interessen des Auftraggebers zu berücksichtigen. Die Erfüllungsgehilfin/der Erfüllungsgehilfe der Auftragnehmerin/des Auftragnehmers nach Absatz 1 unterliegt keinem Weisungs- und Direktionsrecht seitens des Auftraggebers, sie/er hat jedoch fachliche Vorgaben des Auftraggebers insoweit zu beachten, als dies die ordnungsgemäße Vertragsdurchführung erfordert. Gesetzliche Vorgaben hat sie/er insoweit zu beachten, wie der Auftraggeber selbst an diese gebunden ist. Eine Einbindung der Erfüllungsgehilfin/des Erfüllungsgehilfen nach Absatz 1 in den Schulbetrieb findet nicht statt.</p></li>
            <li><p>Durch diesen Vertrag wird kein Arbeitsverhältnis der Erfüllungsgehilfin/des Erfüllungsgehilfen zum Auftraggeber begründet.</p></li>
            <li><p>Die Auftragnehmerin/der Auftragnehmer hat dafür Sorge zu tragen, sofern ein unmittelbarer Kontakt ihrer/seiner Erfüllungsgehilfin/ihres/seines Erfüllungsgehilfen nach Absatz 1 mit Schülerinnen und Schülern besteht, dass für diese/diesen ein erweitertes Führungszeugnis zur Vorlage bei einer Behörde dem Auftraggeber vor Beginn des Leistungszeitraumes vorgelegt wird. Zuvor ist eine Leistungserbringung nicht möglich. Das erweiterte Führungszeugnis darf nicht älter als ein Jahr sein. Die Kosten des erweiterten Führungszeugnisses hat die Auftragnehmerin/der Auftragnehmer zu tragen. Die Auftragnehmerin/der Auftragnehmer verpflichtet sich, der Schulleiterin/dem Schulleiter der o. g. Schule mitzuteilen, wenn sie/er Kenntnis davon hat, dass gegen eine Erfüllungsgehilfin/einen Erfüllungsgehilfen ein Straf- oder Ermittlungsverfahren eingeleitet wurde oder eine gerichtliche Verurteilung erfolgte.</p></li>
            <li><p>Die Auftragnehmerin/der Auftragnehmer ist nicht berechtigt, Absprachen zu treffen, die den Auftraggeber rechtlich oder finanziell binden. Bei einem Verstoß gegen diese Regelung hat die Auftragnehmerin/der Auftragnehmer den Auftraggeber nach seiner Wahl von Ansprüchen Dritter freizustellen oder ihm Schadensersatz zu leisten.</p></li>
            <li><p>Die Auftragnehmerin/der Auftragnehmer wird durch diese Vereinbarung in keiner Weise beschränkt, gleichartige Leistungen auch für Dritte zu erbringen.</p></li>
            <li>
                <p>Die Auftragnehmerin/der Auftragnehmer setzt nach eigenem Ermessen für die Durchführung des vorgenannten Auftrages Unterlagen oder sonstige Medien oder Sachmittel ein. </p>
                <p>Hinsichtlich der Erstattung von Kosten für Materialien, die an Kursteilnehmer ausgegeben werden, wird <u>folgende Vereinbarung</u> getroffen (entsprechendes bitte ankreuzen):</p>
                <p>
                    {% if data.costs.materials == 1 %}☑{% else %}☐{% endif %}
                    Die Kosten für Materialien trägt die Auftragnehmerin/der Auftragnehmer. Sie sind mit dem Honorar abgegolten.
                </p>
                <p>
                    {% if data.costs.materials == 2 %}☑{% else %}☐{% endif %}
                    Die Kosten für Materialien werden der Auftragnehmerin/dem Auftragnehmer gegen Beleg bis zu einem Gesamtbetrag
                    {% if data.costs.materials == 2 %}von {{ data.costs.materials_amount | euroFormater }} €{% endif %}
                    von dem Auftraggeber erstattet.
                </p>
                <p>
                    {% if data.costs.material == 3 %}☑{% else %}☐{% endif %}
                    Entfällt.
                </p>
                <p>Die Auftragnehmerin/der Auftragnehmer ist selbst dafür verantwortlich, beim Einsatz von Unterlagen oder sonstigen Medien eventuelle Urheberrechte zu beachten.</p>
            </li>
            <li><p>Die Auftragnehmerin/der Auftragnehmer führt die mit der Leistungserbringung zusammenhängenden Reisen bzw. Fahrten in eigener Verantwortung sowie auf eigene Kosten durch.</p></li>
            <li><p>Beide Seiten sind verpflichtet, sich wechselseitig alle Umstände rechtzeitig anzuzeigen, die für die Durchführung dieses Vertrages und die ordnungsgemäße Erbringung der vereinbarten Leistung wesentlich sein können.</p></li>
        </ol>
        <!--
            § 4 Honorar
        -->
        <p class="center paragraph"><b>§ 4 Honorar</b></p>
        <ol>
            <li>
                <p>Die Auftragnehmerin/der Auftragnehmer erhält für ihre/seine nach § 1 des Vertrages erbrachte Leistung</p>
                <p class="center"><b>{{ data.costs.scope | euroFormater }} Euro (inkl. Umsatzsteuer)</b></p>
                <p><b>(in Worten: {{ data.costs.scope_text }} Euro).</b></p>
                <p>Hiermit sind sämtliche Kosten für die zu erbringende Leistung abgedeckt. Der Betrag schließt etwa anfallende Mehrwertsteuer, Reisekosten und sonstige Nebenkosten ein.</p>
                <p>Das Honorar wird 30 Tage nach Erbringen der vertragsgemäßen Leistung nach § 1 des Vertrages und Vorlage einer prüffähigen Rechnung für diese Leistung fällig.  Die Rechnung ist vom Auftragnehmer direkt an folgende zentrale Rechnungsadresse im HCC zu senden:</p>
                <p class="center"><b>HCC – Hessisches Competence Center</b></p>
                <p class="center"><b>– Zentrale Scan-Stelle –</b></p>
                <p class="center"><b>Buchungskreis 2300 Dienststelle {{ data.school.id }} Besteller: {{ data.school.principal }}</b></p>
                <p class="center"><b>65165 Wiesbaden</b></p>
                <p>Die zur weiteren Bearbeitung benötigten Angaben wie Buchungskreis und Dienststelle sowie der Auftraggeber („Besteller“) sind auf der Rechnung aufzuführen, nur dann handelt es sich um eine prüffähige Rechnung in diesem Sinne.</p>
            </li>
            <li><p>Die Auftragnehmerin/der Auftragnehmer ist berechtigt, monatlich prüffähige (Teil-)Rechnungen zu stellen, die ihre/seine erbrachten Teilleistungen im Einzelnen benennen. Zahlungen sind binnen 30 Tagen ab Zugang der korrekten Rechnung fällig. In der Schlussrechnung stellt die Auftragnehmerin/der Auftragnehmer alle Rechnungen gesondert zusammen und errechnet den offenen Saldo. Die Auftragnehmerin/der Auftragnehmer ist an die Schlussrechnung der Höhe nach gebunden. Das in der Anlage beigefügte Merkblatt zu den Mindestbestandteilen einer Rechnung ist zu beachten.</p></li>
            <li>
                <p>Die Auszahlung des Honorars erfolgt auf folgendes Konto der Auftragnehmerin/des Auftragnehmers:</p>
                <div class="container">
                    <p><b>Kontoinhaber:</b> {{ data.bank_account.name }}</p>
                    <p><b>Kreditinstitut:</b> {{ data.bank_account.bank }}</p>
                    <p><b>IBAN:</b> {{ data.bank_account.iban }}</p>
                    <p><b>BIC:</b> {{ data.bank_account.bic }}</p>
                </div>
            </li>
        </ol>
        <!--
            § 5 Nichterbringung der Leistung
        -->
        <p class="center paragraph"><b>§ 5 Nichterbringung der Leistung</b></p>
        <p>Dem Auftragnehmer steht kein Vergütungsanspruch zu, soweit er die vereinbarte Leistung nicht erbringt.</p>
        <!--
            § 6 Steruerfplicht, Versicherungspfllicht
        -->
        <p class="center paragraph"><b>§ 6 Steuerpflicht, Versicherungspflicht</b></p>
        <ol>
            <li><p>Steuerabzüge werden nicht vorgenommen; für die Versteuerung ist die Auftragnehmerin/der Auftragnehmer selbst verantwortlich. Soweit Umsatzsteuerpflicht besteht, gilt die Steuer als im Honorar enthalten.</p></li>
            <li><p>Die Schule kann der Auftragnehmerin/dem Auftragnehmer eine Bestätigung der Umsatzsteuerbefreiung ausstellen, wenn die Leistung i. S. d. § 4 Nr. 21 UStG steuerbefreit ist (falls zutreffend).</p></li>
            <li><p>In dem Fall, dass ein <u>ausländischer</u> Leistungserbringer im Inland eine Leistung erbringt, gilt die umgekehrte Steuerpflicht gem. § 13b UStG. In dem Fall ist die Rechnung netto auszuweisen und die Umsatzsteueridentifikationsnummer (UST ID Nr.) des Auftragsgebers in der Rechnung aufzuführen. Diese lautet: DE 274875847. Die Umsatzsteuer wird nur in diesem Fall durch den Auftraggeber abgeführt.</p></li>
            <li><p>Der Auftraggeber übermittelt dem zuständigen Finanzamt (Finanzamt am Wohnort der Auftragnehmerin/des Auftragnehmers) die Mitteilung nach der Mitteilungsverordnung vom 7.September 1993 (BGBl. I S. 1554) in der jeweils geltenden Fassung.</p></li>
            <li><p>Die Auftragnehmerin/der Auftragnehmer bzw. deren/dessen Erfüllungsgehilfin/deren/dessen Erfüllungsgehilfe unterliegt während der Erbringung der Leistung weder dem gesetzlichen Unfallversicherungsschutz noch einer Haftpflichtversicherung durch den Auftraggeber.</p></li>
        </ol>
        <!--
            § 7 Nutzungsrechte
        -->
        <p class="center paragraph"><b>§ 7 Nutzungsrechte</b></p>
        <ol>
            <li><p>Die Auftragnehmerin/der Auftragnehmer räumt dem Auftraggeber das ausschließliche, räumlich, zeitlich und inhaltlich nicht beschränkte Nutzungsrecht an allen urheber- und leistungsschutzrechtlich geschützten Arbeitsergebnissen ein, die im Rahmen der Tätigkeit nach diesem Vertrag erzielt werden. Das Nutzungsrecht nach Satz 1 umfasst insbesondere die in § 15 UrhG genannten Nutzungsarten sowie das Recht zu Bearbeitungen und Umgestaltungen und deren Veröffentlichung und Verwertung. Der Auftraggeber hat ferner das Recht, Dritten Nutzungsrechte einzuräumen oder zu übertragen. Die Einräumung des Nutzungsrechts nach Satz 1 erfolgt mit der Erbringung der Leistung.</p></li>
            <li><p>Die Auftragnehmerin/der Auftragnehmer steht dem Auftraggeber dafür ein, dass die Arbeitsergebnisse nach Abs. 1 frei sind von Rechten Dritter.</p></li>
            <li><p>Die Vergütung für die Einräumung der Nutzungsrechte ist in dem Honorar nach § 4 dieses Vertrages enthalten.</p></li>
        </ol>
        <!--
            § 8 Verschwiegenheit, Datenschutz
        -->
        <p class="center paragraph"><b>§ 8 Verschwiegenheit, Datenschutz</b></p>
        <ol>
            <li><p>Die Auftragnehmerin/der Auftragnehmer verpflichtet sich, geschützte personenbezogene Daten zu keinem anderen als zu dem zur jeweiligen rechtmäßigen Aufgabenerfüllung gehörenden Zweck zu verarbeiten, bekannt zu geben, zugänglich zu machen oder sonst zu nutzen. Sie/er ist insbesondere verpflichtet, über alle ihr/ihm im Zusammenhang mit der Erbringung der Leistung bekanntwerdenden Daten Stillschweigen zu bewahren und alle ihr/ihm in diesem Zusammenhang zur Verfügung gestellten Unterlagen vor dem Zugriff Dritter zu schützen.</p></li>
            <li><p>Über ihr/ihm bekannt gewordene Kenntnisse, Unterlagen, Aufgabenstellungen und Geschäftsvorgänge des Auftraggebers hat sie/er auch über die Vertragsdauer hinaus Stillschweigen zu bewahren.</p></li>
        </ol>
        <!--
            § 9 Rückgabe von Unterlagen
        -->
        <p class="center paragraph"><b>§ 9 Rückgabe von Unterlagen</b></p>
        <p>Sämtliche Unterlagen, die der Auftragnehmerin/dem Auftragnehmer im Zusammenhang mit ihrer/seiner Tätigkeit übergeben werden, sind nach Erbringen der Leistung unverzüglich zurückzugeben. Der Auftragnehmerin/dem Auftragnehmer steht hieran kein Zurückbehaltungsrecht zu.</p>
        <!--
            § 10 Haftung
        -->
        <p class="center paragraph"><b>§ 10 Haftung</b></p>
        <p>Die Auftragnehmerin/der Auftragnehmer haftet dem Auftraggeber für Schäden, die sie/er im Rahmen der Erbringung der Leistung dem Auftraggeber zufügt, nach den gesetzlichen Regelungen.</p>
        <!--
            § 11 Abtretung
        -->
        <p class="center paragraph"><b>§ 11 Abtretung</b></p>
        <p>Eine Abtretung der aus diesem Vertrag entstehenden Forderungen ist nicht gestattet.</p>
        <!--
            § 12 Kündigung
        -->
        <p class="center paragraph"><b>§ 12 Kündigung </b></p>
        <ol>
            <li><p>Auftraggeber und Auftragnehmerin/Auftragnehmer können den Vertrag aus wichtigem Grund ohne Einhaltung einer Frist kündigen. Die Kündigung bedarf der Schriftform.</p></li>
            <li><p>Im Fall der Kündigung ist der Auftraggeber berechtigt, die erbrachten Leistungen zu verwenden. Die Auftragnehmerin/der Auftragnehmer behält den Anspruch auf Honorar für die bis zur Kündigung von ihr/ihm erbrachten Leistungen in angemessenem Umfang.</p></li>
            <li><p>Weitergehende Ansprüche der Auftragnehmerin/des Auftragnehmers sind ausgeschlossen.</p></li>
        </ol>
        <!--
            § 13 Verantwortlicher Ansprechpartner des Auftraggebers
        -->
        <p class="center paragraph"><b>§ 13 Verantwortlicher Ansprechpartner des Auftraggebers</b></p>
        <p>Verantwortlicher Ansprechpartner des Auftraggebers ist im Rahmen dieses Vertrages Frau/Herr <b>{{ data.provider.contact.name }}</b>.</p>
        <!--
            § 14 Nebenabreden
        -->
        <p class="center paragraph"><b>§ 14 Nebenabreden</b></p>
        <ol>
            <li><p>Nebenabreden zu diesem Vertrag bestehen nicht.</p></li>
            <li><p>Für diesen Vertrag gelten die „Besonderen Vertragsbedingungen (BVB) der staatlichen Behörden, Betriebe und Anstalten im Lande Hessen für die Ausführung von Lieferungen und Leistungen“, die „Zusätzlichen Vertragsbedingungen (ZVB) für die Ausführung von Leistungen“ und die „Verdingungsordnung für Leistungen (VOL) Teil B – Allgemeine Vertragsbedingungen für die Ausführung von Leistungen (VOL/B)“ neben den vorstehend genannten Bedingungen.</p></li>
            <li><p>Änderungen des Vertrags bedürfen zu ihrer Wirksamkeit der Schriftform. Desgleichen bedürfen alle die Ausführung des Vertrages betreffenden wesentlichen Mitteilungen der Schriftform. Dieses Formerfordernis kann weder mündlich noch stillschweigend aufgehoben oder außer Kraft gesetzt werden.</p></li>
        </ol>
        <!--
            § 15 Salvatorische Klausel
        -->
        <p class="center paragraph"><b>§ 15 Salvatorische Klausel</b></p>
        <p>Sollten Bestimmungen dieses Vertrages unwirksam oder undurchführbar sein oder werden, so wird die Wirksamkeit der übrigen Bestimmungen dadurch nicht berührt, sofern der Vertragszweck gleichwohl erreicht werden kann. Die Parteien verpflichten sich für diesen Fall, die unwirksamen oder undurchführbaren Bestimmungen durch solche zu ersetzen, die dem ursprünglich verfolgten Zweck möglichst nahekommen. Entsprechendes gilt, falls sich der Vertrag nachträglich als lückenhaft erweisen sollte.</p>
        <!--
            Anlagen
        -->
        <p><b>Anlagen:</b></p>
        <ul>
            <li><p>Besondere Vertragsbedingungen (BVB) der staatlichen Behörden, Betriebe und Anstalten im Lande Hessen für die Ausführung von Lieferungen und Leistungen,</p></li>
            <li><p>Zusätzliche Vertragsbedingungen (ZVB) für die Ausführung von Leistungen,</p></li>
            <li><p>Verdingungsordnung für Leistungen (VOL) Teil B – Allgemeine Vertragsbedingungen für die Ausführung von Leistungen (VOL/B)</p></li>
            <li><p>Anlage zum Kontierungsbeleg</p></li>
        </ul>
        <p style="margin: 4em 0 2em 0;">_______________________, den ______________________</p>
        <p style="margin-bottom: 2em;">__________________________________________________<br><b>Schule/Schulstempel</b></p>
        <p style="white-space: pre;">_____________________________________________            _______________________________________<br><b>Auftraggeber (Schulleiterin/Schulleiter) 		Auftragnehmerin/Auftragnehmer</b></p>
    </body>
</html>
