@page {
    size: 'A4';
    margin: 25mm;
}

@media screen {
    body {
        margin: 25mm;
    }
}

body {
    width: 210mm;
    background: white;
    font-family: 'Montserrat';
    font-size: 10pt;
    line-height: 1.5;
    text-align: justify;
    color: #333333;
    word-break: break-word;
}

div {
    break-inside: avoid;
}

h1 {
    margin-top: 0;
    font-size: 16pt;
}

h2 {
    margin-top: 2em;
    font-size: 12pt;
}

h3 {
    margin-top: 1em;
    font-size: 11pt;
    font-style: italic;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even) {
    background: #fafafa;
}

td {
    width: 50%;
    border: 1px solid #333333;
    text-align: left;
    padding: 0.5em;
}

td.three {
    width: calc(100% / 3);
}

td * {
    margin: 0;
}
